$hover
   opacity .8

btnColorTheme(c= inherit, bg-c= transparent)
   color var(--btn-c, c) unless @color
   background-color var(--btn-bg-c, bg-c) unless @background-color
   &:hover
      @extend .hover !optional, $hover

btn
   btnColorTheme()
   display inline-block
   font-weight 400
   text-align center
   vertical-align middle
   cursor pointer
   -webkit-user-select none
   -moz-user-select none;
   -ms-user-select none;
   user-select none;
   border: 1px solid transparent
   padding .375rem .75rem
   font-size 1rem
   line-height 1.5
   border-radius .25rem
   transition color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out

selectors = 'button, [type=button], [type=submit], .btn'

{selectors}
   @extend btn
   
btn()
   {selectors}
      {block}