primary = #0069D9
secondary = #5A6268
success = #218838
warning = yellow
danger = #C82333
alert = danger
info = #138496
text = darken(white, 10)
dark = #333
light = #E2E6EA
.primary
   background-color primary
   color contrastColor(primary)