.capitalize
   text-transform capitalize
.uppercase
   text-transform uppercase
.footnote
   font-size smaller
.it,.font-it
   font-style italic
.cursive,.font-cursive
   font-style cursive
.text-center
   text-align center
for s in (0..10)
   .mg-{s}
      margin s*.5 rem
.text-xxl
   font-size 3em
.text-xl
   font-size 2.5em
.text-l
   font-size 1.5em
.text-m
   font-size 1em
.text-s
   font-size .8em
.text-xs
   font-size .6em