.hide
   --lapse .4s
   transition width var(--lapse) ease-in-out, opacity var(--lapse) ease-in-out
  @media screen and (min-width m)
      width 0
      opacity 0
      overflow hidden
.hover
   cursor:pointer
.flex
   display:flex
   flex-wrap wrap
/* props = {
   margin: 'mg',
   margin-left: 'mg-l',
   margin-right: 'mg-r',
   margin-bottom: 'mg-b',
   margin-top: 'mg-t',
   padding: 'pd',
   padding-left: 'pd-l',
}
for prop, shortcut in props
   for val in (0..100)
      .{shortcut}-{val}px
         {prop} unit(val,px) */